.services {
  margin-top: 100px;
  margin-bottom: 100px;
  .header {
    font-size: 40px;
    font-weight: bold;
  }
  .service {
    position: relative;
  }
  .description {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    left: 25px;
    top: 25px
  }
  .services_wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}