.about_company {
  margin-top: 100px;
  margin-bottom: 100px;
  .header {
    font-size: 40px;
    font-weight: bold;
	@media (max-width: 576px) {
	  font-size: 30px;
	}
  }
  .description {
    margin-top: 80px;
    display: flex;
    gap: 100px;
	@media (max-width: 992px) {
	  gap: 50px;
	}
	@media (max-width: 768px) {
	  flex-direction: column;
	  margin-top: 40px;
	}
  }
  .description_txt {
	width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #454545;
	@media (max-width: 992px) {
	  width: 600px;
	  font-size: 14px;
	  line-height: 20px;
	}
	@media (max-width: 768px) {
	  width: 100%;
	}
  }
}