.consultation {
  width: 100%;
  background-color: #00a3a5;
  padding: 60px 0;
  @media (max-width: 992px) {
	padding: 40px 0;
  }
  .consultation_content {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .info {
	display: flex;
	gap: 80px;
	align-items: center;
	@media	(max-width: 1200px) {
	  gap: 40px;
	  font-size: 14px;
	}
	@media (max-width: 992px) {
	  &>:nth-child(2) {
		display: none;
	  }
	}
  }
  .need {
	position: relative;
	& >:nth-child(1) {
	  display: block;
	  font-size: 20px;
	  @media (max-width: 576px) {
		font-size: 14px;
	  }
	  &:after {
		content: "";
		background-color: white;
		width: 2px;
		height: 43px;
		position: absolute;
		border-bottom: solid 1px #fff;
		top: 0;
		right: -15px;
		@media (max-width: 576px) {
		  height: 32px;
		}
	  }
	  &:before {
		content: "";
		background-color: white;
		width: 2px;
		height: 43px;
		position: absolute;
		border-bottom: solid 1px #fff;
		top: 0;
		left: -15px;
		@media (max-width: 576px) {
		  height: 32px;
		}
	  }
	}
	
  }
}