.footer_info_block {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media (max-width: 992px) {
    width: 240px;
  }

  .info_block_section_socials {
    display: flex;
    gap: 20px;
  }

  .info_item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .info_block_section {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    @media (max-width: 1200px) {
      gap: 20px;
    }
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }
}