.navbar {
  & > ul {
	display: flex;
	gap: 50px;
	@media (max-width: 1400px) {
	  gap: 30px;
	}
	@media (max-width: 1200px) {
	  display: none;
	}
	& > li {
	  list-style-type: none;
	  font-weight: bold;
	  font-size: 12px;
	  text-transform: uppercase;
	  cursor: pointer;
	  transition: 0.5s;
	  &:hover {
		transform: scale(1.1);
		color: #191a1a;
	  }
	}
  }
  
}