.certificates {
  margin-top: 100px;
  margin-bottom: 100px;
  .certificates_content {
	
  }
  .header {
	font-size: 40px;
	font-weight: bold;
	@media (max-width: 768px) {
	  font-size: 30px;
	}
	@media (max-width: 576px) {
	  font-size: 22px;
	}
  }
  .info {
	margin-top: 40px;
	@media (max-width: 768px) {
	  font-size: 16px;
	}
	@media (max-width: 576px) {
	  font-size: 14px;
	}
  }
  .list_items {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
  }
  .single_certificate {
	transition: 0.5s;
	&:hover {
	  transform: scale(1.1);
	}
  }
}