.prices {
  margin-top: 100px;
  margin-bottom: 100px;
  .header {
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px;
	@media (max-width: 768px) {
	  font-size: 35px;
	}
	@media (max-width: 576px) {
	  font-size: 20px;
	}
  }

  .tabs {
    margin-top: 50px;

  }
}

.navigation {
  margin-top: 80px;
  & > ul {
    display: flex;
    justify-content: space-between;
	@media (max-width: 992px) {
	  flex-direction: column;
	  align-items: center;
	  gap: 30px;
	}
  }
  .list_item {
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
	@media (max-width: 1200px) {
	  font-size: 16px;
	  
	}
    //border-bottom: solid 6px #e9e9e9;
  }
}

.nav_list {
  border-bottom: solid 6px #e9e9e9;
  position: relative;
  top: -6px;
  @media (max-width: 1200px) {
	border-bottom: solid 3px  #e9e9e9 !important;
	top: -4px;
  }
  @media (max-width: 992px) {
	display: none;
  }
}

.tab_content {
  margin-top: 20px;
  display: none;
}

.tab_content_active {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}

.active {
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  padding-bottom: 10px;
  color: #1D1D1D !important;
  text-align: center;
  border-bottom: solid 6px #00a3a5 !important;
  z-index: 4;
  @media (max-width: 1200px) {
	font-size: 16px;
	border-bottom: solid 3px #00a3a5 !important;
  }
}