.contacts {
  margin-top: 100px;
  margin-bottom: 100px;
  .header {
	font-size: 40px;
	font-weight: bold;
  }
  .information {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
  }
  .map {
	display: flex;
	justify-content: center;
	height: 642px;
	position: relative;
  }
  .contacts_detail {
	display: flex;
	flex-direction: column;
	gap: 50px;
  }
}